@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Playfair+Display:wght@700&display=swap");

.font-playfair-display,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-arimo {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
